*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.disabled{
    
}

header{
    display: flex;
    padding: 10px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.cart{
    font-size: 1.4rem;
    margin-right: 1em;
    background-color: rgb(82, 201, 161);
    padding: 0.3em 0.7em;
    border-radius: 20px;
}

p{
    margin: 1em;
    font-weight: bold;
    font-size: 1.4rem;
}

.product{
    display: flex;
}

.col{
    margin: 1em;
}

figure{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
